@page
@model Telstar.Pages.ConfirmationModel
@{
}
<div class="row align-items-start spacer">
        <Center style="height:500px">
<h2 style="padding-top:210px">You have succesfully booked a route for the parcel, congratulations!<h2>
        </Center>
        <Center>
            <form method="post">
        <button style="width:300px; margin-bottom:40px" type="submit" class="btn btn-warning spacer">Create a new shipment</button>
        </form>
    </Center>
    </div>
</div>

