@page
@model Telstar.Pages.DimensionPageModel
@if (User.Identity.IsAuthenticated)
{

    <h5 class="card-title">Enter Dimensions Page</h5>
    <form method="post">
        <div class="row align-items-start spacer">
            <div class="col spacer">
                <h6>Enter Height</h6>
                <div class="input-group mb-3">
                    <input name="height" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">cm</span>
                </div>
                <h6>Enter length</h6>
                <div class="input-group mb-3">
                    <input name="length" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">cm</span>
                </div>
                <h6>Enter Width</h6>
                <div class="input-group mb-3">
                    <input name="width" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">cm</span>
                </div>
                <h6>Enter Weight</h6>
                <div class="input-group mb-3">
                    <input name="weight" type="number" class="form-control" id="weightInput" onchange="checkInput()" aria-label="Amount (to the nearest dollar)" min="0" max="39">
                    <span class="input-group-text">kg</span>
                </div>
                <tr>
                    <a href="/Shipment" ><button type="button" class="btn btn-secondary spacer">back</button></a>
                    <button type="submit" class="btn btn-warning spacer">Continue</button>
                </tr>
            </div>
            <div class="col">
                <center>
                    <img src="..\img\dimensions.png" style="height:400px; align-content: center;" />
                </center>
            </div>
        </div>
    </form>
} else
{
    <h3>Not Authenticated</h3>
}




