@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="greetings" class="display-4">Welcome to</h1>
<div class="col">
                <center>
                    <img src="..\img\logo.png" style="height:400px; align-content: center;" />
                </center>
            </div>
</div>
