@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<span>@Html.DisplayFor(modelItem => modelItem.Name)</span>
<form method="post">
    <input type="email" name="emailaddress">
    <input type="submit">
</form>