@page
@model Telstar.Pages.ReportModel
@{
}
<h5 class="card-title">Report Page</h5>
<div class="row align-items-start spacer">
    <div class="col spacer">
        <Center>
            <ul class="list-group" style="width:300px">
                <li class="list-group-item summary-listitem"><p class="summary-p">Total Profit:</p><p class="summary-pr" name="profit">@Model.totalProfit $</p></li>
                <li class="list-group-item summary-listitem"><p class="summary-p">Total Bookings:</p><p class="summary-pr" name="bookings">@Model.totalBookings</p></li>
            </ul>
        </Center>
        <div class="big-spacer"></div>
    </div>
</div>