@page
@model Telstar.Pages.SummaryModel
@{
}
<h5 class="card-title">Summary Page</h5>
<div class="row align-items-start spacer">
    <div class="col spacer">
        <Center>
            <ul class="list-group" style="width:300px">
                <li class="list-group-item summary-listitem"><p class="summary-p">From: @Html.DisplayFor(e => e.AlgorithmResult.shipment.from)</p><p class="summary-pr" name="fromDest"></p><p class="summary-p">To: @Html.DisplayFor(e => e.AlgorithmResult.shipment.to)</p><p class="summary-pr" name="toDest"></p></li>
                <li class="list-group-item summary-listitem"><p class="summary-p">Time: @Html.DisplayFor(e => e.AlgorithmResult.Fastest)</p><p class="summary-pr" name="time"></p><p class="summary-p">Price:@Html.DisplayFor(e => e.AlgorithmResult.Cheapest) </p><p class="summary-pr" name="price"></p></li>
            </ul>
        </Center>
        <a href="/ChooseRoute">
            <button type="button" class="btn btn-secondary spacer">Back</button>
        </a>
        <form method="post">
            <button type="submit" class="btn btn-warning spacer">Book</button>
        </form>
        
    </div>
</div>

